/bin
/mirage_classes
/retrospect_agent.jar
RetrospectDebugger/bin
edu.ubc.mirrors.asjdi/bin
edu.ubc.mirrors.eclipse.asjdi/bin
edu.ubc.mirrors.eclipse.mat.plugins/bin
edu.ubc.mirrors.holographs/bin
edu.ubc.mirrors.holographs/mirage_classes
edu.ubc.mirrors.tod/bin

org.eclipse.mat.ui/bin
edu.ubc.mirrors.holographs.mapreduce/bin
EquinoxOnHadoop/eclipse
EquinoxOnHadoop/bin
