/bin
/mirage_classes
/retrospect_agent.jar
edu.ubc.mirrors.holographs/bin
edu.ubc.mirrors.holographs/mirage_classes
edu.ubc.mirrors.eclipse.asjdi/bin
edu.ubc.mirrors.eclipse.mat.plugins/bin
RetrospectDebugger/bin
