<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="jarverifier"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="edu.ubc.mirrors.test.JarVerifier">
         </run>
      </application>
   </extension>
   <extension
         id="heapdumptest2"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="edu.ubc.mirrors.test.HeapDumpTest2">
         </run>
      </application>
   </extension>
   <extension
         id="eclipseheapdumptest"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="edu.ubc.mirrors.test.EclipseHeapDumpTest">
         </run>
      </application>
   </extension>
</plugin>
