<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="jarverifier"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="edu.ubc.mirrors.test.JarVerifier">
         </run>
      </application>
   </extension>
   <extension
         id="heapdumptest2"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="edu.ubc.mirrors.test.HeapDumpTest2">
         </run>
      </application>
   </extension>
   <extension
         id="eclipseheapdumptest"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="edu.ubc.mirrors.test.EclipseHeapDumpTest">
         </run>
      </application>
   </extension>
   <extension
         id="tostringer"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="edu.ubc.mirrors.test.ToStringer">
         </run>
      </application>
   </extension>
   <extension
         id="LiveVersusDeadToStringEvaluation"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="edu.ubc.mirrors.test.LiveVersusDeadToStringEvaluation">
         </run>
      </application>
   </extension>
   <extension
         id="edu.ubc.mirrors.holographs.CDTBugTest"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="edu.ubc.mirrors.test.CDTBugTest">
         </run>
      </application>
   </extension>
   <extension
         id="edu.ubc.mirrors.holographs.tests.SnapshotAndPrepare"
         name="edu.ubc.mirrors.holographs.tests.SnapshotAndPrepare"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="edu.ubc.mirrors.test.SnapshotAndPrepare">
         </run>
      </application>
   </extension>
   <extension
         id="edu.ubc.mirrors.holographs.tests.DebuggingTest"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="edu.ubc.mirrors.test.DebuggingTest">
         </run>
      </application>
   </extension>
   <extension
         id="edu.ubc.mirrors.holographs.tests.TODTest"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="edu.ubc.mirrors.test.TODTest">
         </run>
      </application>
   </extension>
   <extension
         id="edu.ubc.mirrors.holographs.tests.RetroactiveWeavingEval"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="edu.ubc.mirrors.test.RetroactiveWeavingEval">
         </run>
      </application>
   </extension>
</plugin>
