<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="edu.ubc.mirrors.holographs.nativeStubsProvider">
      <provider
            impl="edu.ubc.mirrors.holographs.jdkplugins.JDKNativeStubsProvider">
      </provider>
   </extension>
   <extension
         point="edu.ubc.mirrors.holographs.bytecodeProvider">
      <provider
            impl="edu.ubc.mirrors.holographs.jdkplugins.GeneratedBytecodeProvider">
      </provider>
   </extension>
   <extension
         point="edu.ubc.mirrors.holographs.initializedProvider">
      <provider
            impl="edu.ubc.mirrors.holographs.jdkplugins.IdempotentClassInitializedProvider">
      </provider>
   </extension>

</plugin>
