<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="edu.ubc.mirrors.tod.TODTest"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="1"
            thread="any"
            visible="true">
         <run
               class="edu.ubc.mirrors.tod.TODTest">
         </run>
      </application>
   </extension>

</plugin>
