<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="edu.ubc.mirrors.holographs.mapreduce.Driver"
         name="edu.ubc.mirrors.holographs.mapreduce.Driver"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="edu.ubc.mirrors.holographs.mapreduce.Driver">
         </run>
      </application>
   </extension>

</plugin>
