<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="jarverifier"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="edu.ubc.mirrors.test.JarVerifier">
         </run>
      </application>
   </extension>
   <extension
         id="heapdumptest2"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="edu.ubc.mirrors.test.HeapDumpTest2">
         </run>
      </application>
   </extension>
   <extension
         id="eclipseheapdumptest"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="edu.ubc.mirrors.test.EclipseHeapDumpTest">
         </run>
      </application>
   </extension>
   <extension
         id="tostringer"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="edu.ubc.mirrors.test.ToStringer">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.mat.api.nameResolver">
      <resolver
            impl="edu.ubc.mirrors.eclipse.mat.plugins.ToStringNameResolver">
      </resolver>
   </extension>
   <extension
         point="org.eclipse.mat.report.query">
      <query
            impl="edu.ubc.mirrors.eclipse.mat.plugins.CollectionValuesQuery">
      </query>
      <query
            impl="edu.ubc.mirrors.eclipse.mat.plugins.HashEntriesQuery">
      </query>
      <query
            impl="edu.ubc.mirrors.eclipse.mat.plugins.SystemPropertiesQuery">
      </query>
   </extension>
   <extension
         point="org.eclipse.jdt.launching.vmConnectors">
      <vmConnector
            class="edu.ubc.mirrors.eclipse.mat.HeapDumpHolographConnector"
            id="edu.ubc.mirrors.eclipse.mat.HeapDumpHolographConnector">
      </vmConnector>
   </extension>
</plugin>
